@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Oswald:wght@700&family=Wire+One&display=swap');

html, body {
  height: 100%;
  width: 100%;
  text-align: center;
}

h3{
  font-family: 'Wire One';
}

h1{
  font-size: 72px;
  font-family: 'Oswald', sans-serif;
}

body{
  animation: bg 2s linear forwards;
}

@keyframes bg {
  from {
    background-color: white;
  }

  to {
    background-color: #141414;
  }
}

#center{
  transform: translate(0px, 50vh);
}